.large-icon {
    height: 70px;
    width: 70px;
}

.city-name {
    display: inline;
    position: relative;
}

.small-icon {
    height: 70px;
    width: 70px;
    border: none;
}


.uv-index {
    background: red;
}
